
input{
    width: 310px;
    height: 33px;
    border-radius: 8px;
    background-color: rgba(229, 229, 231, 1);
    border-style: none;
    padding-left: 10px;
  
}

button{
    width: 95px;
    height: 33px;
    background-color:
    rgba(229, 229, 231, 1) ;
    border-radius: 8px;
    margin-left: 10px;
    border-style: none;
    color:
    rgba(147, 147, 147, 1) ;
}

.todo_list{
    margin-top: 100px;
}

.sia{
    width:425px ;
    height: 33px;
    background-color:
    rgba(255, 255, 255, 1);

    margin-left: 290px;
    border-radius: 8px;
    font-weight: 500;
}
li{
    list-style: none;
}